<h2>Ils nous font confiance</h2>

<section id="clients">
  <div id="logos">
    <%= image_tag 'clients/AIR.PA.png' %>
    <%= image_tag 'clients/AMZN.png' %>
    <%= image_tag 'clients/GEHC.png' %>
    <%= image_tag 'clients/GIS.png' %>
    <%= image_tag 'clients/GOOG.png' %>
    <%= image_tag 'clients/MCD.png' %>
    <%= image_tag 'clients/PGR.png' %>
    <%= image_tag 'clients/PYPL.png' %>
    <%= image_tag 'clients/WN.TO.png' %>
    <%= image_tag 'clients/AIR.PA.png' %>
    <%= image_tag 'clients/AMZN.png' %>
    <%= image_tag 'clients/GEHC.png' %>
    <%= image_tag 'clients/GIS.png' %>
    <%= image_tag 'clients/GOOG.png' %>
    <%= image_tag 'clients/MCD.png' %>
    <%= image_tag 'clients/PGR.png' %>
    <%= image_tag 'clients/PYPL.png' %>
    <%= image_tag 'clients/WN.TO.png' %>
  </div>
</section>

<section id="key-numbers">

  <div class="number-card">
    <h3>3</h3>
    <p>Années d'Expériences</p>
  </div>

  <div class="number-card">
    <h3>100%</h3>
    <p>De Satisfaction Client</p>
  </div>

  <div class="number-card">
    <h3>5 <i class="fa-solid fa-star"></i></h3>
    <p>D'après les avis Google</p>
  </div>

</section>
