<h2>Ils nous font confiance</h2>

<section id="clients">
  <div id="logos">
    <%= image_tag 'clients/logo-18h08.png' %>
    <%= image_tag 'clients/logo-asfcoaching.png' %>
    <%= image_tag 'clients/logo-bichonneursvelos.png' %>
    <%= image_tag 'clients/Logo-Curso.png' %>
    <%= image_tag 'clients/logo-jaunefabrique.png' %>
    <%= image_tag 'clients/logo-livreecole.png' %>
    <%= image_tag 'clients/logo-pointue.png' %>
    <%= image_tag 'clients/logo-referral-squad.png' %>
    <%= image_tag 'clients/logo-thewonders.png' %>
  </div>
</section>

<section id="key-numbers">

  <div class="number-card">
    <h3>3</h3>
    <p>Années d'Expériences</p>
  </div>

  <div class="number-card">
    <h3>100%</h3>
    <p>De Satisfaction Client</p>
  </div>

  <div class="number-card">
    <h3>5 <i class="fa-solid fa-star"></i></h3>
    <p>D'après les avis Google</p>
  </div>

</section>
