<div>
    <div class="titre">
      <h2>Nos compétences</h2>
    </div>

    <div class="competences-1">
      <div class="competences-card ">
        <p><%= link_to "UCG", ucg_path %></p>
      </div>

      <div class="competences-card">
        <p><%= link_to "coaching", coaching_path %></p>
      </div>

      <div class="competences-card">
        <p><%= link_to "Community Management", communitymanagement_path %></p>
      </div>
    </div>

    <div class="competences-2">
      <div class="competences-card">
        <p><%= link_to "Création de Contenu", contenu_path %></p>
      </div>

      <div class="competences-card">
      <p><%= link_to "Site Internet", website_path %></p>
      </div>

      <div class="competences-card">
      <p><%= link_to "MasterClass", masterclass_path %></p>
      </div>

    </div>

  <div class="chiffres-cles">
    <div class="chiffres">
    <h1>3</h1>
    <p>années d'expériences</p>
    </div>
    <div class="chiffres">
    <h1>100%</h1>
    <p> de satisfaction client</p>
    </div>
    <div class="chiffres">
    <h1>5 ⭐</h1>
    <p>- Avis Google</p>
    </div>
  </div>

</div>
