<section id="contact" data-controller="contact">

  <h2>Nous contacter</h2>

  <%= form_with model: @contact, local: true, html: { class: 'form' } do |f| %>

    <div class="champs">
      <%= f.label :nom %>
      <%= f.text_field :nom, data: { action: "blur->contact#handleBlur", contact_target: "nom" } %>
      <p class="d-none text-danger fst-italic" data-contact-target="text" style="font-size: 12px;">Le nom est obligatoire</p>

      <%= f.label :prenom %>
      <%= f.text_field :prenom, data: { action: "blur->contact#handleBlur", contact_target: "prenom" } %>
      <p class="d-none text-danger fst-italic" data-contact-target="textPrenom" style="font-size: 12px;">Le prénom est obligatoire</p>

      <%= f.label :email %>
      <%= f.email_field :email, data: { action: "blur->contact#handleBlur", contact_target: "email" } %>
      <p class="d-none text-danger fst-italic" data-contact-target="textEmail" style="font-size: 12px;">L'email est obligatoire</p>

      <%= f.label :telephone %>
      <%= f.telephone_field :telephone, data: { action: "blur->contact#handleBlur", contact_target: "telephone" } %>
      <p class="d-none text-danger fst-italic" data-contact-target="textTel" style="font-size: 12px;">Le téléphone est obligatoire</p>

      <%= f.label :entreprise %>
      <%= f.text_field :entreprise, data: { action: "blur->contact#handleBlur", contact_target: "entreprise" } %>
      <p class="d-none text-danger fst-italic" data-contact-target="textEts" style="font-size: 12px;">Le nom de l'entreprise est obligatoire</p>

      <%= f.label :message %>
      <%= f.text_area :message, data: { action: "blur->contact#handleBlur", contact_target: "message" } %>
      <p class="d-none text-danger fst-italic" data-contact-target="textMessage" style="font-size: 12px;">Le message est obligatoire</p>

      <%= f.submit "Envoyer", data: { action: "click->contact#submitForm" }, class: "btn-envoyer" %>
    </div>

  <% end %>

</section>
