<section id="skills">
  <h2>Nos compétences</h2>

  <div id="skills-line-1">

    <%= link_to ucg_path do %>
      <div class="skill-card">
        <%= image_tag "anais-profil.jpeg", class:'skill-img', width: '200px', alt:"photo-profil-anais" %>
        <span class="skill-link">UCG</span>
      </div>
    <% end %>

    <%= link_to coaching_path do %>
      <div class="skill-card">
        <%= image_tag "anais-profil.jpeg", class:'skill-img', width: '200px', alt:"photo-profil-anais" %>
        <span class="skill-link">Coaching</span>
      </div>
    <% end %>

    <%= link_to communitymanagement_path do %>
      <div class="skill-card">
        <%= image_tag "anais-profil.jpeg", class:'skill-img', width: '200px', alt:"photo-profil-anais" %>
        <span class="skill-link">Community Management</span>
      </div>
    <% end %>

  </div>

  <div id="skills-line-2">

    <%= link_to contenu_path do %>
      <div class="skill-card">
        <%= image_tag "anais-profil.jpeg", class:'skill-img', width: '200px', alt:"photo-profil-anais" %>
        <span class="skill-link">Création de contenu</span>
      </div>
    <% end %>

    <%= link_to website_path do %>
      <div class="skill-card">
        <%= image_tag "anais-profil.jpeg", class:'skill-img', width: '200px', alt:"photo-profil-anais" %>
        <span class="skill-link">Site Internet</span>
      </div>
    <% end %>

    <%= link_to masterclass_path do %>
      <div class="skill-card">
        <%= image_tag "anais-profil.jpeg", class:'skill-img', width: '200px', alt:"photo-profil-anais" %>
        <span class="skill-link">MasterClass</span>
      </div>
    <% end %>

  </div>

</section>
