<%= video_tag 'intro.mp4', autoplay: true, loop: true, muted: true %>

<div class="container">
  <div class="btn-contact">
    <%= link_to "Nous contacter", "#contact", aria: {label:"Contact"}%>
  </div>
</div>

<%= link_to 'Nous contacter', '#contact', class: 'cta-button' %>

<%= render "pages/home/skills"%>

<%= render "pages/home/clients"%>

<%= render "pages/home/apropos"%>

<%= render "pages/home/contact"%>
