<div class="container">

  <div class="video">
    <%= image_tag("")%>
  </div>

  <div class="btn-contact">
    <%= link_to "Nous contacter", "#contact", aria: {label:"Contact"}%>
  </div>
</div>

<%= render "pages/home/competences"%>

<%= render "pages/home/clients"%>

<%= render "pages/home/apropos"%>

<%= render "pages/home/contact"%>
