<%= video_tag 'intro.mp4', autoplay: true, loop: true, muted: true %>


  <div class="btn-contact">
    <%= link_to "Nous contacter", "#contact", aria: {label:"Contact"}%>
  </div>


<%= render "pages/home/skills"%>

<%= render "pages/home/clients"%>

<%= render "pages/home/apropos"%>

<%= render "pages/home/contact"%>
