<div class="footer">
  <div>
    <%= link_to root_path+'#apropos' do%>
      <div>A propos</div>
    <% end %>
    <%= link_to root_path+'#contact' do%>
      <div>Nous contacter</div>
    <% end %>
  </div>

  <div>
    <div>Ils parlent de nous</div>
    <%= link_to root_path+'#clients' do%>
      <div>Ils nous font confiance</div>
    <% end%>
  </div>

  <div class="portfolio">
    <p>PORTFOLIO</p>
  </div>

  <div>
     <%= link_to root_path+'cgv' do%>
      <div>CGV</div>
    <% end%>
    <div>Made with 🖤 by Alice & Adam</div>
  </div>

  <div class="logo">
    <div class="rs">
    <%= link_to"https://www.linkedin.com/company/quartz-agency/", target:"_blank" do %>
      <%= image_tag("logo-linkedin.png", alt:"linkedin")%>
    <% end %>
    </div>

    <div class="rs">
    <%= link_to"https://www.instagram.com/quartzagency_/", target:"_blank" do %>
      <%= image_tag("logo-insta.jpg", alt:"instagram")%>
    <%end%>
    </div>

    <div class="rs">
    <%= link_to"https://www.tiktok.com/@quartzagency_", target:"_blank" do %>
      <%= image_tag("logo-tiktok.svg", alt:"tiktok")%>
    <%end%>
    </div>

  </div>
</div>
