<!DOCTYPE html>
<html>
  <head>
    <title>QuartzAgencyV1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/css?family=cinzel" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=belleza" rel="stylesheet">
     <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= yield %>
    <%= render "layouts/footer"%>
  </body>
</html>
